{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 version"]
      },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}